// Specific CSS for your home-page
  #core {
    display: flex;
    margin-top: 30px;

  }
  
  #sidemap {
    height: 140vh;
    position: sticky;
    top: 0;
  }
  
  #sidecard {
    flex-grow: 1;
  }