// Specific CSS for your home-page

body {
  background-color: #EBEBEB;
}

  #core {
    display: flex;
    margin-top: 30px;

  }

  #sidemap {
    height: 150vh;
    position: sticky;
    top: 0;
  }

  #sidecard {
    flex-grow: 1;
  }

.cont {
  margin: 40px;
}

.name {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: white;
  size: 20px;
   padding: 70px 0;
}
