.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
   text-shadow: 2px 2px black;
}

.banner p {
  color: white;
  opacity: .9;
  font-size: 30px;
  text-shadow: 2px 2px black;
}

.banner {
  background-image: url(https://cdn2.buyacar.co.uk/sites/buyacar/files/car-parking-3000.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  text-align: center;
}
