.navbar-lewagon {
  justify-content: space-between;
  background: #7a7070;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-nav {
  align-items: center;
}

 a:hover {
  color: #F19833;
}

.tururu{
  color: rgb(255, 255, 255);
  padding: 8px;
}

.title {
color: white;
font-family: sans-serif;
font-weight: 20px;

}
