.navbar-lewagon {
  justify-content: space-between;
  background: #EBEBEB;;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

 a:hover {
  color: #F19833;
}
