<h1>Main page</h1>
<%= link_to 'Add car', new_car_path, class: 'btn btn-primary' %>

<% @cars.each do |car| %>
<p><%= "Model: #{car.model} - year: #{car.year}"%>
  <%= link_to 'delete', car_path(car), method: :delete %> |
  <%= link_to 'view', car_path(car) %>
  </p>
<% end %>
